{% extends 'base.html' %}

{% block title %}
{{ super()}} - {{ title }}
{% endblock %}

{% block content %}
    <section>
        <h2>Description</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Blanditiis dolore, repellendus? Aliquid assumenda autem
            iste libero maxime neque reiciendis, repellat.
            Ab corporis eos id inventore necessitatibus, possimus rerum
            soluta voluptates?</p>
    </section>
    <section>
                <div><h3>card1</h3></div>
                <div><h3>card2</h3></div>
                <div><h3>card3</h3></div>
                <div><h3>card4</h3></div>
                <div><h3>card5</h3></div>
            </section>

{% endblock %}