{% extends 'base.html' %}

{% block title %}
    {{ super()}} - {{ title }}
{% endblock %}

{% block content %}
    <h1>This is my site</h1>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deleniti et, eveniet hic inventore laborum praesentium
            recusandae rerum vero. Alias enim ipsum iusto maiores quaerat quam quos,
            sunt temporibus ullam voluptatum.</p>
    </section>

    <section>
        <h2>News</h2>
        <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Amet atque debitis, deleniti dolor explicabo ipsam magnam nam natus,
            nobis omnis porro quia repudiandae saepe. Accusantium at atque dolore
            ipsum voluptate!</span>
            <span>A accusamus amet animi architecto assumenda consequatur deleniti ea eligendi
                est eum fugiat illum inventore labore laboriosam, magni maiores minima nemo
                perspiciatis quaerat quo, repellendus sed totam ullam voluptas voluptatem.</span>
            <span>Ad atque aut cupiditate dignissimos id omnis porro quam quisquam reiciendis
                Dolores laborum nulla quae quas similique temporibus voluptate? Ab atque aut
                laboriosam minima officiis repellendus sit, veniam.</span>
        </p>
    </section>
{% endblock %}